<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Created By : Anjali Tiple.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Grid_Anjali::view" title="Grid Blog" module="Grid_Anjali" sortOrder="50" resource="Grid_Anjali::view"/>
        <add id="Grid_Anjali::menu" title="Manage Grid" module="Grid_Anjali" sortOrder="20" parent="Grid_Anjali::view" action="anjali/index/index" resource="Grid_Anjali::menu"/>
    </menu>
</config>